body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #c0c0c0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #fdd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
    color: #000;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h2 {
    margin-bottom: 40px;
    font-size: 20px;
    color: #000;
}

.button-group {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fdd;
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.logout-btn {
    width: 150px;
    color: #ff5858;
    background-color: #fdd;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: lighter;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #fbb;
}